@model UsersDetailsVM
<ul>
   <li> @Model.FirstName</li>
    <li> @Model.LastName</li>
    <li> @Model.AddressLine1</li>
    <li> @Model.AddressLine2</li>
    <li> @Model.City</li>
    <li> @Model.ZipCode</li>
    <li> <a href="/users/edit">Edit</a> </li>
</ul>
