@model UsersDetailVM

<h3>Name: @Model.FirstName @Model.LastName</h3>
<h3>Address 1: @Model.AddressLine1</h3>
<h3>Address 2: @Model.AddressLine2</h3>
<h3>City: @Model.City</h3>
<h3>Zip Code: @Model.ZipCode</h3><br />
<p><h4><a href="~/users/edit/">Edit</a></h4><p>
<p><h4><a href="~/users/index">Back to user list</a></h4></p>