@model BookingsCreateVM
        <h1>Thank you</h1>
        <ul>
            @*<li>Model Id: @Model.Id</li>*@
            <li>Model Room Id: @Model.RoomId</li>
            <li>User Id: @Model.UserId</li>
            <li>Start Date: @Model.StartDate</li>
            <li>End Date: @Model.EndDate</li>
        </ul>
        @*<form asp-controller="bookings" asp-action="create">
            <label asp-for="CustomerId"></label>
            <input asp-for="CustomerId">
            <span style="color:red" asp-validation-for="CustomerId"></span> <br />
            <label asp-for="RoomId"></label>
            <input asp-for="RoomId">
            <span style="color:red" asp-validation-for="RoomId"></span> <br />
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" placeholder="MM/dd/yyyy">
            <span style="color:red" asp-validation-for="StartDate"></span> <br />
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate">
            <span style="color:red" asp-validation-for="EndDate"></span> <br />
            <label asp-for="Statuscode"></label>
            <input asp-for="Statuscode">
            <span style="color:red" asp-validation-for="Statuscode"></span> <br />

            <input type="submit" value="Submit" onclick="RegistrationMessage()">
        </form>*@
        <p><h4><a href="~/Home/Index">Back to main page</a></h4></p>