@model BookingsIndexVM[]

<div class="title">List of all bookings</div>
<div class="subtitle">Here you can see all bookings with detailed information.</div><br />
@foreach (var item in @Model)
{
    <ul>
        <li>Id: @item.Id</li>
        <li><a asp-controller="users" asp-action="detail" asp-route-id="@item.UserId">Customer name: @item.CustomerName</a></li>
        <li><a asp-controller="rooms" asp-action="detail" asp-route-id="@item.RoomId">Room name: @item.RoomName</a></li>
        <li>Start date: @item.StartDate</li>
        <li>End date: @item.EndDate</li>
    </ul>
    <hr />
}