@model BookingsIndexVM[]
        <h1>List of customer bookings</h1>
        @foreach (var item in @Model)
        {
            <ul>
                <li>Id: @item.Id</li>
                <li><a asp-controller="users" asp-action="details" asp-route-id="@item.UserId">Customer name: @item.CustomerName</a></li>
                <li><a asp-controller="rooms" asp-action="details" asp-route-id="@item.RoomId">Room name: @item.RoomName</a></li>
                <li>Start date: @item.StartDate</li>
                <li>End date: @item.EndDate</li>
                @*<li>@item.Statuscode</li>*@
            </ul>
            <hr />
        }
        <p><h4><a href="~/Home/Index">Back to main page</a></h4></p>