@using BookingWebsite.Models.Entities;
@model Customer
<!DOCTYPE html>
<html>
    <head>
        <title>Customer detail</title>
    </head>
    <body>
        <h1>Details of the customer</h1>
        <h1>@Model.FirstName @Model.LastName</h1>
        <ul>
            <li>@Model.Email</li>
            <li>@Model.SocialSecurityNumber</li>
            <li>@Model.Telephone</li>
            <li>@Model.Mobilephone</li>
        </ul>
        <p><h4><a href="~/Customers/Edit/@Model.CustomerId">Update information</a></h4><p>
        <p><h4><a href="~/Customers/Index">Back to customer list</a></h4></p>
        <p><h4><a href="~/Home/Index">Back to main page</a></h4></p>
    </body>
</html>